/* src/app/components/best-sellers/best-sellers.component.css */

.section-container {
    padding: 2rem 1rem 3rem;
    /* Reducir padding vertical para menos espacio */
    max-width: 1400px;
    margin: 0 auto;
}

.title-container {
    margin-bottom: 1.5rem;
    /* Reducir margen inferior */
}

.title {
    font-size: 2.25rem;
    /* text-3xl */
    font-weight: 700;
    text-align: left; /* Alineado a la izquierda como en React */
    color: var(--text-primary);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    
    gap: 1.5rem;
    justify-content: center;
}

@media (max-width: 1400px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
    }
}

@media (max-width: 1050px) {
    .grid-container {
        grid-template-columns: repeat(3, 322px);
    }
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: repeat(2, 290px);
    }
}

