/* src/app/components/product-grid/product-grid.component.css */

.section-container {
    padding: 2rem 1rem 3rem;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box; /* Asegura que el padding no cause overflow */
}

.title-container {
    margin-bottom: 1.5rem;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
    color: var(--text-primary);
}

.product-count {
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
    width: 100%; /* Asegura que el grid ocupe el ancho del contenedor */
}

/* Media Queries para mejorar la responsividad en pantallas pequeñas */
@media (max-width: 600px) {
    .section-container {
        padding: 2rem 0.5rem 3rem;
    }

    .grid-container {
        gap: 1rem;
    }

    .title {
        font-size: 1.8rem;
    }
}

