<section class="section-container">
    <div class="title-container">
        <h2 class="title">Compra por Categoría</h2>
    </div>

    <div class="grid-container">
        @for (category of categories; track category.id) {
        <button class="category-card" (click)="onCategoryClick(category.id)">
        <img
          [src]="category.image"
          [alt]="category.name"
          class="card-image"
        />
        <div class="card-overlay"></div>
        <div class="card-content">
          <h3 class="card-title">{{ category.name }}</h3>
        </div>
      </button> }
    </div>
</section>